{{ define "yield" }}
    <h2>Albums</h2>
    <ol>
        {{range .Albums }}
        <li> {{.ArtistName}} - {{.AlbumName}}</li>
        {{end}}
    </ol>

    <h2>Books</h2>
    <ol>
        {{range .Books }}
        <li> {{ range $i, $value := .Authors }}{{ if gt $i 0}}, {{end}}{{ . }}{{end}} - {{.Title}}</li>
        {{end}}
    </ol>

{{ end }}