{{ define "general" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Culture API</title>
    </head>

    <body>
        <h1>Culture API</h1>
        {{ template "yield" .Yield }}
    </body>
</html>
{{ end }}

